<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Holiday Types</title>
	<link rel="stylesheet" href="../styles/style.css">
</head>
<body>
	
	
	<% if(holiday[0].type == "halloween"){ %>
		<img style="background-size: cover;" src="https://images.unsplash.com/photo-1509558848685-d51aecf76271?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1931&q=80">
	<% } else if(holiday[0].type == "christmas") {%>
		<img style="background-size: cover;" src="https://images.unsplash.com/photo-1513639725746-c5d3e861f32a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
	<% } else if(holiday[0].type == "thanksgiving") { %>
		<img style="background-size: cover;" src="https://images.unsplash.com/photo-1563245372-918a54a875af?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
	<% } else if(holiday[0].type == "valentines") { %>
		<img style="background-size: cover;" src="https://images.unsplash.com/photo-1519137847-189aca33af2b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
	<% } else if(holiday[0].type == "Remembrance") { %>
		<img style="background-size: cover;" src="https://images.unsplash.com/photo-1531911847154-f25129c1fb8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1951&q=80">
	<% } else if(holiday[0].type == "new_year") { %>
		<img style="background-size: cover;" src="https://images.unsplash.com/photo-1525815732237-469cdd9874ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1955&q=80">
	<% } %>
	
</body>
</html>