<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Seasons Types</title>
	<link rel="stylesheet" href="../styles/style.css">
</head>
<body>
	
	<% if(season[0].type == "winter"){ %>
		<img style="background-size: cover;" src="https://images.unsplash.com/photo-1504952763299-66ca4fcb05b3?ixlib=rb-	1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80">
	<% } else if(season[0].type == "summer") {%>
		<img style="background-size: cover;" src="https://images.unsplash.com/photo-1570896168675-7338d1e857cb?ixlib=rb-    1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80">
	<% } else if(season[0].type == "fall") { %>
		<img style="background-size: cover;" src="https://images.unsplash.com/photo-1507799528557-568a9eb6ef7d?ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80">
	<% } else if(season[0].type == "spring") { %>
		<img style="background-size: cover;" src="https://images.unsplash.com/photo-1428892854740-4cb8fa023893?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1934&q=80">
	<% } %>
	
</body>
</html>